
body {
	background-image: url("/vaxt.jpg");
	color: black; 
    font-size: 72px;
    text-align: center;
} 

#button{
	font-size: 40px;
	border: 2px solid;
	font-size:25px;
	background-color:white;
}